/* add your CSS here */
.card {
    width: 300px;
    border: 1.5px solid black;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #ffd1dc;
}
.fact-box {
    border: 1.5px solid black;
    padding: 10px;
}
.animal-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
#fun-fact {
    font-style: italic;
}
.fact-box ul {
    list-style-type: none;
    padding: 0;
}
.label {
    font-weight: bold;
}
h3 {
    font-weight: bold;
    font-size: 20px;
}